.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

.logo {
    flex: 0 0 auto;
}

.menuBar {
    flex: 0 0 auto;
    display: flex;
    gap: 1rem;
}