@import "../variables.scss";

:root, html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #e8e8e8;
    margin-top: 40px;
}

*  a {
    text-decoration: none;
    color: $secondary-100;
    border-bottom: 2px solid rgba(32, 87, 169, 0.1);
    transition: all 100ms linear;
    &:hover {
        color: $secondary-120;
        // background-color: rgba(255, 221, 0, 0.1);
        border-bottom: 2px dotted $secondary-120;
    }
}

.se-header {
    height: 40px;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    &__menu {
        height: 100%;
        display: flex;
        max-width: 700px;
        margin: 0 auto;
        a {
            flex: 1;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $se-dark;
            text-decoration: none;
            transition: all 100ms linear;
            border: none !important;
            &:hover {
                background-color: #e0f6f9;
            }
        }
    }
}

.se-container {
    max-width: 1024px;
    margin: 0 auto;
    &__section {
        min-height: 100px;
        padding: 10px;
        &:nth-child(even) {
            background-color: #F2F8FF;
            
        }
    }
}

.se-footer {
    padding: 20px;
    background-color: #474747;
    color: #ececec;
    .se-container {
        max-width: 1024px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .se-socials {
            min-width: 250px;
        }
        .se-newsletter {
            min-width: 250px;
            flex: 1;
        }
    }
}