@use '../styles/variables' as *;
@use '../styles/mixins' as *;
.page {
    background-color: var(--background-white, #f9f6f3);
}

.title {
    justify-content: center;
    text-align: left;
    font-size: clamp(1rem, 4vw, 6rem);
    width: 100%;
    @include mobile {
        text-align: center;
    }
}

.heroContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    min-height: 400px;
    // gap: 20px;
}
.imageContainer {
    min-width: 200px;
    object-fit: contain;
    flex-basis: 40%;
}
.siaImage {
    width: 100%;
    height: auto;
    display: block;
}

.textContainer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 58%;
    max-width: 600px;
    @include mobile {
        padding-left: 10px;
    }
    @include tablet {
        padding-left: 20px;
    }
    @include desktop {
        padding-left: 40px;
    }
}

.description {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    font-size: clamp(1.5rem, 2.2یشvw, 4rem);
    text-align: left;
    @include mobile {
        text-align: center;
    }
}
