.page {
    background-color: var(--background-white, #f9f6f3);
}

.title {
    justify-content: center;
    text-align: left;
    font-size: clamp(1rem, 4vw, 6rem);
    // font-weight: 900;
    width: 100%;
}

.heroContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    min-height: 400px;
    // gap: 20px;
}
.imageContainer {
    min-width: 200px;
    object-fit: contain;
    flex-basis: 40%;
}
.siaImage {
    width: 100%;
    height: auto;
    display: block;
}

.textContainer {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 58%;
}

.description {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    font-size: clamp(1rem, 2.5vw, 4rem);
    text-align: left;
}
