.page-home {
  background-color: white;
}

.slider-image {
  background-color: yellow;
  background: url("../../../public/images/me-at-bb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 100vh;
  position: relative;

  @include se-max($se-viewport-md) {
    width: 100%;
    height: 500px;
  }
  @include se-max($se-viewport-sm) {
    width: 100%;
    height: 400px;
  }

  @include se-max($se-viewport-xs) {
    width: 100%;
    height: 300px;
    // background-position: 10px 200px;
  }

  .quote {
    position: absolute;
    bottom: 100px;

    color: white;
    text-shadow: 0 0 3px #313131, 0 0 5px #202020;

    font-size: 48px;
    max-width: 600px;
    right: 100px;

    #quote-by {
      font-size: 24px;
    }

    @include se-max($se-viewport-xl) {
      font-size: 32px;
      max-width: 400px;
      right: 50px;
      bottom: 40px;
      #quote-by {
        font-size: 18px;
      }
    }
    @include se-max($se-viewport-lg) {
      bottom: 20px;
      font-size: 24px;
      max-width: 100%;
      right: 20px;
      left: 20px;
      #quote-by {
        font-size: 12px;
      }
    }
  }
}

.blog {
  .list-summary {
    padding-left: 20px;
  }
  .show-more {
    width: 100%;
    text-align: right;
  }
}

.contact {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  .left-side {
    flex: 1;
  }
  .right-side {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    .buymeacoffee {
      width: 200px;
      height: auto;
      display: block;
    }
  }
}
