html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  // background-color: rgb(87, 87, 87);
}
.link-list {
  margin: 20px auto 20px auto;
  display: flex;
  flex-direction: column;
  max-width: 500px;

  border-radius: 12px;
  position: relative;
  @include se-max($se-viewport-sm) {
    margin-left: 20px;
    margin-right: 20px;
  }
  .footer {
    margin-top: 5px;
    color: whitesmoke;
    font-size: 12px;
  }
}
.link-item {
  display: block;
  flex: 1;
  padding: 10px;
  transition: all 150ms linear;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px dotted rgb(201, 201, 201);
  text-decoration: none;
  color: rgb(32, 32, 32);
  &:hover {
    background-color: rgb(210, 210, 210);

    cursor: pointer;
  }
  &:nth-child(1) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  &:nth-last-child(2) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: none;
  }
}
