// Color System
:root {
    // Brand colors
    --primary: #005246;
    --primary-hover: #004038;
    --accent: #FFD401;
    --accent-hover: #E6BF00;
    --secondary: #B6CB3D;
    --secondary-hover: #A3B835;
  
    --rainbow-gold: #ffcd6b;
    --rainbow-brick: #ff8c66;
    --rainbow-blue: #2fc6ec;
    --rainbow-lavender: #a45ee5;
  
    // Neutral colors
    --background-white: #FFFFFF;
    --background-khaki:#f9f6f3 ;
    --foreground: #303030;
    --gray-900: #303030;
    --gray-800: #404040;
    --gray-700: #505050;
    --gray-600: #606060;
    --gray-500: #707070;
    --gray-400: #808080;
    --gray-300: #909090;
    --gray-200: #A0A0A0;
    --gray-100: #F0F0F0;
    --gray-50: #F8F8F8;
  
    // Alpha colors
    --gray-alpha-100: rgba(48, 48, 48, 0.05);
    --gray-alpha-200: rgba(48, 48, 48, 0.08);
    --gray-alpha-300: rgba(48, 48, 48, 0.12);
    --gray-alpha-400: rgba(48, 48, 48, 0.16);
    --gray-alpha-500: rgba(48, 48, 48, 0.24);
    --gray-alpha-600: rgba(48, 48, 48, 0.32);
    --gray-alpha-700: rgba(48, 48, 48, 0.48);
    --gray-alpha-800: rgba(48, 48, 48, 0.64);
    --gray-alpha-900: rgba(48, 48, 48, 0.96);
  
    // Button colors
    --button-primary-hover: #004038;
    --button-secondary-hover: #A3B835;
    --button-accent-hover: #E6BF00;
  }
  
  // Dark mode colors
  @media (prefers-color-scheme: dark) {
    :root {
      --background: #303030;
      --foreground: #FFFFFF;
      --gray-rgb: 255, 255, 255;
      
      --button-primary-hover: #006655;
      --button-secondary-hover: #C4D94D;
      --button-accent-hover: #FFE033;
    }
  }