$se-dark : rgb(38, 38, 38);
$se-dimgrey: rgb(58, 58, 58);
$se-grey: rgb(161, 161, 161);

:root, html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;;
}

body {
    background-color: #e8e8e8;
    margin-top: 40px;
}
.se-header {
    height: 40px;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    &__menu {
        height: 100%;
        display: flex;
        max-width: 700px;
        margin: 0 auto;
        a {
            flex: 1;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $se-dark;
            text-decoration: none;
            transition: all 100ms linear;
            &:hover {
                background-color: #e0f6f9;
            }
        }
    }
}

.se-container {
    width: 1024px;
    margin: 0 auto;
    &__section {
        min-height: 100px;
        padding: 10px;
        &:nth-child(even) {
            background-color: #F2F8FF;
            
        }
    }
}